body{
	font-size:12px;
	font-family:'Microsoft Yahei';
	background:#f5e5c1 url(../images/bgimg_top.jpg) 50% top scroll no-repeat;
    background-size: 100%;
    color: #272a30
}
a:link, a:visited {
    text-decoration: none;
}

figure {
    width: 100%;
    background: rgba(51,51,51,0.7);
    clear: both;
    height: 28px;
    position: fixed;
    z-index: 9999;
	margin: auto;
}
figure p {
    width: 1030px;
    margin: 0 auto;
    color: #FFF;
    line-height: 28px;
}

header {
    padding: 50px 0 0 0;
    width: 1100px;
    height: 77px;
    margin: auto;
}

#nav {
    width: 100%;
    line-height: 40px;
    height: 40px;
    margin: 0 auto 10px;
    background: rgba(245,245,245,0.2);
    position: relative;
}
#nav ul {
    list-style: none;
    margin: auto;
    width: 1030px;
}

#nav ul li {
    float: left;
    width: 100px;
    text-align: center;
    text-shadow: #333 1px 1px 1px;
    display: inline-block;
}

#nav ul li a {
    color: #FFF;
    cursor: pointer;
    display: block;
}


#nav ul li#nav_current a {
    background: #E15782;
    color: #FFF;
    font-weight: bold;
    border-radius: 50px 0;
}

#nav ul li a:hover{
	background:#E15782;
	color:#FFF;
	font-weight:bold;
	border-radius:50px 0;
}
@media screen and (max-width: 600px) {
	#nav{position:relative;background:rgba(245,245,245,0.2);
}







