p{
    color: #999 !important;
}

ul, li, nav {
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    list-style: none;
}
article {
    background: #F1F0EE;
    width: 1030px;
    margin: auto;
    overflow: hidden;
    padding: 15px;
}


.newlist {
    width: 980px;
    float: left;
}

.newlist h2 {
    border-bottom: #AC0B0B 3px solid;
    line-height: 40px;
    font-size: 12px;
    font-weight: normal;
}
.newlist h2 span {
    float: right;
}

.newlist h2 span a {
    color: #000;
    border-right: 1px solid #ccc;
    padding: 0 10px;
}

.resp-tabs-container h1 {
    color: #FDB000 !important;
}

.resp-tabs-container h1 {
    font-size: 26px;
    color: #999;
    text-transform: inherit;
    margin-top: 0;
    margin-bottom: 15px;
    padding-bottom: 10px;
    padding-left: 30px;
    border-bottom: 1px solid #e6e6e6;
}

.title_content {
    display: inline-block;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #DDD;
}

.title_content:after {
    height: 1px;
    display: block;
    left: 0;
    content: " ";
    position: relative;
    width: 30px;
    top: 1px;
}

.text_content {
    color: #FDB000;
}

.text_content {
    display: inline-block;
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    padding-top: 2px;
    margin-bottom: 5px;
	padding-left: 30px;
}



ul.about {
    margin-bottom: 30px;
	margin-left:30px;
}
.fa{
	display:block;
}

ul.about li {
    margin: 0;
    color: #717171;
    display: block;
    font-size: 13px;
    border-bottom: 1px solid #e6e6e6;
	line-height: 20px;
}

#profile .about i.glyphicon {
    margin-right: 3px;
}

#profile .about i.glyphicon  {
    margin-right: 3px;
}

#profile .profile-r {
    padding-right: 0;
}

#profile .cycle-slideshow {
    margin-top: 19px;
    margin-bottom: 20px;
    width: 348px;
    height: 456px;
}

#profile .cycle-slideshow img {
    width: 100%;
}

ul.about li span.value {
    width: 220px;
    text-align: left;
    float: right;
}

@media screen and (max-width: 1200px)
ul.about li span.value {
    width: 196px;
}
.skills{
	margin-left:30px;
}

.skillbar {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background: #eee;
    height: 22px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}
.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 11px;
    color: #fff;
    text-transform: capitalize;
}
.skillbar-title span {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: 22px;
    line-height: 22px;
}
.skillbar-bar {
    height: 22px;
    width: 0;
}
.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 22px;
    line-height: 22px;/*35*/
    color: #444;
    color: rgba(0, 0, 0, 0.4);
}

#resume .col-md-6 span.duration {
    float: right;
}
#resume .col-md-6 ul li {
    list-style: none;
    margin-top: 20px;
}
#resume .resume-left ul li h5 {
    padding-bottom: 10px;
}

#resume .attributes li.first{
    margin-top: 0 !important;
	
}

#resume .attributes li{
   margin-left:30px;
}

#resume .attributes .duration i{
    margin-right: 5px;
}

#resume h5,#resume h6 {
    font-weight:400 !important;
}
#resume .resume-left ul li h5 {
    color: #999 !important;
}

#resume  ul li h5 {
    color: #999 !important;
}
.tpl2{
	margin-right: 20px;
}




